<div class="signupParent">
  <div class="signup-container">
    <h1>Join yapic</h1>
    <h4>Share your photos and start meeting people! </h4>
    <form action="/signup" method="POST" class="signupForm">
      <div class="form-group">
        <label for="username">Username: </label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          required
        />
      </div>

      <div class="form-group">
        <label for="email">Email: </label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          required
          placeholder="name@mail.com"
        />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          required
          placeholder="********"
        />
      </div>
      <div>
        <button class="signupBtn" type="submit">Register</button>
      </div>

    </form>
    <span>Already a member? <a href="/signup">Login</a></span>
    {{#if errorMessage}}
      <p class="alert alert-danger"><b>{{errorMessage}}</b></p>
    {{/if}}
  </div>
</div>

<footer class="footer">
    <div class="footer__text">
      <p><small>&copy; Copyright 2022 PELOTUDOS Labs</small></p>
    </div>
    <div class="fa-icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
</footer>

<div class="index__waves">
  <img src="./images/waves-test.svg" alt="waves image over footer">
</div>

<div class="index__waves2">
  <img src="./images/waves2.svg" alt="waves image over footer">
</div>

<div class="index__waves3">
  <img src="./images/waves3.svg" alt="waves image over footer">
</div>