<div class="index__container">
  <div class="index__text">
    <h1>Uncover the people behind the likes</h1>
    <p>
      A community that allows you to share your photos and interests. If other
      users have similar tastes to yours, why not start chatting?
    </p>
    <div class="index__signup">
      <a href="/signup">JOIN US</a>
    </div>
  </div>

  <div class="index__illustration">
    <img src="./images/illustration.svg" alt="illustration" />
  </div>
</div>

<footer class="footer">
    <div class="footer__text">
      <p><small>&copy; Copyright 2022 PELOTUDOS Labs</small></p>
    </div>
    <div class="fa-icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
</footer>

<div class="index__waves">
  <img src="./images/waves.svg" alt="waves image over footer">
</div>